/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: harlow;
    font-weight: 400;
    src: url(/src/assets/fonts/harlowduoserifplain-regular-webfont.woff2)
      format("woff2");
  }
  @font-face {
    font-family: neues;
    font-weight: 500;
    src: url(/src/assets/fonts/NeueSwiss-Regular.woff) format("woff");
  }
}
